.animal-show-window{
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  display: block;
}

.animal-image-container{
  background-color: #050307;
  position: relative;
  margin-bottom: 30px;
  height: 400px;
  text-align: center;
}

.animal-image-container img{
  height: 100%;
  max-width: 80%;
  min-width: 33.33%;
  object-fit: cover;
  object-fit: contain;
}

.animal-show-container{
  margin-bottom: 40px;
  margin-top: 30px;
  padding-bottom: 30px;
  max-width: 1220px;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.animal-show-left{
  width: 60%;
  padding: 50px;
  background-color: white;
  border-radius: 20px;
}

.animal-show-top-section{
  border-bottom: 1px solid var(--border-color);
}

.animal-show-top-section h1{
  font-size: 40px;
  font-weight: 400px;
  padding-bottom: 30px;
  margin-bottom: 0;
  text-align: left;
}

.animal-show-top-section p{
  padding-bottom: 30px;
}

.animal-show-middle-section{
  border-bottom: 1px solid var(--border-color);
  display: inline-block;
  padding: 30px 0;
  width: 100%;
}

.animal-show-middle-section ul{
  display: flex;
  flex-wrap: wrap;
}

.not-first::before{
  content: "\2022";
  display: inline-block;
  padding: 0 8px;
}

.animal-show-bottom-section{
  padding: 30px 0;
}

.animal-show-bottom-section h2{
  font-size: 30px;
}

.animal-show-bottom-section h3{
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.animal-show-bottom-section p{
  padding-left: 10px;
  font-size: 14px;
  font-weight: none;
}

.animal-show-right{
  width: 303px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animal-show-upper-right{
  width: 303px;
  /* height: 310px; */
  /* need height: auto for when 'please log in displays' */
  height: auto;
  padding: 20px 30px;
  background-color: var(--primary-color);
  color: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  text-align: center;
}

.animal-show-lower-right{
  width: 303px;
  height: 200px;
  height: auto;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: #fff;
}

.animal-show-org-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.animal-show-org-header{
  font-size: 20px;
}

.animal-show-org-name{
  font-size: 25px;
  padding-bottom: 15px;
  text-decoration: none;
  color: var(--font-color);
  color: var(--primary-color);
}

.animal-show-org-name:hover{
  transform: scale(1.2);
  transition: 0.3s;
}