.about-me-key-container{
  display: flex;
  padding-bottom: 20px;
}

.about-me-key{
  font-size: 25px;
  color: var(--primary-color);
  line-height: 16px;
}

.about-me-username{
  font-size: 20px;
}

.about-me-email{
  font-size: 20px;
}