.main{
  width: 100%;
  height: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.profile-container{
  position: absolute;
  width: 100%;
  height: auto;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 30px;
  margin: auto;
  top: 100px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1220px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgb(77 71 81 / 20%);
}

.profile-content{
  width: 100%;
  height: 100%;
  padding: 40px 30px;
}

.profile-header-container{
  position: relative;
  line-height: 1.6;
}

.profile-header{
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 400px;
}

.profile-tabs{
  /* border: 1px solid purple; */
  position: relative;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 2.5;
  font-weight: none;
  display: flex;
  border-bottom: 1px solid var(--border-color);
  justify-content: space-around;
}

.profile-tabs li:hover{
  cursor: pointer;
  border-bottom: 2px solid rgba(101, 4, 181, 0.5);
}

.open-tab{
  border-bottom: 2px solid var(--primary-color);
}