/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=**Montserrat:wght@500**&display=swap');

:root{
  --primary-font: 'Montserrat', sans-serif;
  --primary-color: #6504b5;
  --secondary-color: #2e0152;
  --text-color: #4d4751;
  --background-color: #efeef1;
  --border-color: #d2d1d3;
}
body{
  color: var(--text-color);
  font-family: var(--primary-font);  
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
}