.form-header{
  margin-bottom: 30px;
  font-size: 30px;
}

.meet-and-greet-form label{
  text-align: start;
  padding-bottom: 10px;
}

.meet-and-greet-form input{
  border: none;
  outline: none;
}

.meet-and-greet-form input:hover{
  outline: 1px solid #fff;
  border: 1px solid var(--primary-color);
}

.meet-and-greet-form input:focus-visible{
  outline: 1px solid #fff;
  border: 1px solid var(--primary-color);
}

.meet-and-greet-form-button{
  width: 75%;
  margin-top: 30px;
  width: 100%;
  height: 45px;
  border: 2px solid var(--primary-color);
  background-color: #fff;
  border-radius: 23px;
  font-family: var(--primary-font);  
  font-size: 18px;
  font-weight: 1000;
  font-weight: bolder;
  letter-spacing: 1.3px; 
  color: var(--primary-color);
}

.meet-and-greet-form-button:hover{
  cursor: pointer;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: #fff;
  transition: .3s;
}