.MnG-edit-form-container{
  /* display: none; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  height: 100%;
  width: 100%;
}

.MnG-edit-form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MnG-edit-header{
  font-size: 34px;
  margin-bottom: 20px;
  text-align: center;
}

.MnG-edit-form input{
  margin-top: 10px;
  padding-left: 20px;
}

.MnG-edit-form input:hover{
  cursor: text;
  border: 1px solid var(--primary-color);
}

.MnG-edit-form input[type="time"]::-webkit-calendar-picker-indicator{
  padding: 20px 0;
  padding-right: 20px;
  padding-left: 10px;
}

.MnG-edit-form input[type="date"]::-webkit-calendar-picker-indicator{
  padding: 20px 0;
  padding-right: 20px;
  padding-left: 5px;
}

.MnG-edit-time-input[type="time"]::-webkit-calendar-picker-indicator:hover{
  cursor: pointer;
  color: var(--primary-color);
  transform: scale(1.35);
  transition: .3s;
}

.MnG-edit-date-input[type="date"]::-webkit-calendar-picker-indicator:hover{
  cursor: pointer;
  color: var(--primary-color);
  transform: scale(1.35);
  transition: .3s;
}

.MnG-edit-time-input:valid{
  border: 1px solid green;
}

.MnG-edit-date-input:valid{
  border: 1px solid green;
}

.MnG-edit-time-input:invalid{
  border: 1px solid red;
}

.MnG-edit-date-input:invalid{
  border: 1px solid red;
}

.MnG-edit-button{
  width: 65%;
  width: 90px;
  height: 30px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 23px;
  font-family: var(--primary-font);  
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1.3px; 
  color: #fff;
}

.MnG-edit-button:hover{
  cursor: pointer;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: #fff;
  transition: .3s;
}