.search-index-list{
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.search-error-message{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.search-error-message p{
  margin-top: 100px;
  margin-bottom: 20px;
}