.search-index-list{
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.error-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.error-page p{
  margin-top: 100px;
  margin-bottom: 20px;
}

.error-page-link{
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  font-family: var(--primary-font);  
  font-weight: 500;
  letter-spacing: 1.3px; 
  width: 300px;
  height: 50px;
  margin-top: 20px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 23px;
  color: #fff;
}

.error-page-link:hover{
  cursor: pointer;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: #fff;
  transition: .3s;
}