:root{
  --height: 70px
}

nav{
  width: 100vw;
  box-sizing: border-box;
  height: var(--height);
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  /* line-height: 1.6; */
  font-weight: bold;
  letter-spacing: 1.3px;
  font-size: 17px;
}

.region--inner{
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1220px;
  border: 1px solid green;
  color: #4d4751;
}

button{
  color: var(--font-color);
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 17px;
}

.nav-left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-left div{
  margin-right: 50px;
}

.nav-left div:hover{
  cursor: pointer;
  color: var(--primary-color);
  transition: 0.3s;
}

.nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-favorite:hover{
  cursor: pointer;
  color: var(--primary-color);
  transition: 0.3s;
}

.nav-favorite{
  border-right: 1px solid var(--border-color);
  padding-right: 30px;
}

/* when signed in */
.session-links{
  display: flex;
  align-items: center;
}

.session-links p{
  padding-left: 30px;
}

/* when signed out */
.nav-user{
  display: flex;
  align-items: center;
}

.nav-user button{
  padding-left: 30px;
}

.login-button button:hover{
  cursor: pointer;
  color: var(--primary-color);
  transition: 0.3s;
}

.signup-button button:hover{
  cursor: pointer;
  color: var(--primary-color);
  transition: 0.3s;
}