:root{
  --height: 70px
}

.nav-bar{
  width: 100%;
  box-sizing: border-box;
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1.3px;
  font-size: 17px;
  overflow: visible;
  background-color: #fff;
  box-shadow: 0px 5px 5px rgb(77 71 81 / 30%);
  z-index: 1;
}

.site-logo{
  position: absolute;
  font-size: 65px;
  color: var(--primary-color);
  margin: auto;
}

.region--inner{
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1220px;
  color: var(--font-color);
}

.nav-bar button{
  color: var(--font-color);
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

.nav-left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-left div{
  margin-right: 50px;
}

.nav-left-navlink{
  text-decoration: none;
  color: var(--font-color);
}

.nav-left div:hover{
  cursor: pointer;
  color: var(--primary-color);
  transition: 0.3s;
}

.home-logo:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-favorite{
  border-right: 1px solid var(--border-color);
  padding-right: 30px;
}

.nav-favorite:hover{
  cursor: pointer;
  color: var(--primary-color);
  transition: 0.3s;
}

.favorites-link{
  text-decoration: none;
  color: var(--font-color);
}

.nav-user{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%
}

/* when signed in */
.user-info{
  display: flex;
  align-items: center;
  width: 215px;
  height: 100%;
}

.user-info p{
  align-items: center;
  text-align: center;
}

.user-info button:hover{
  cursor: pointer;
  color: var(--primary-color);
  transition: 0.3s;
}

.user-info:hover{
  cursor: pointer;
  color: var(--primary-color);
  transition: 0.3s;
}

.profile-nav-button{
  padding-left: 30px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.user-info .open:hover{
  background-color: var(--primary-color);
  color: white;
}

.profile-dropdown{
  position: absolute;
  top: var(--height);
  width: 215px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: #410078;
  border-radius: 0 0 10px 10px;
  padding: 25px 0 30px 30px;
}

.profile-dropdown:hover{
  cursor: auto;
}

.profile-dropdown li{
  width: 100%;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: normal;
}

.profile-dropdown li button{
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: normal;
}

.profile-dropdown li:hover, .profile-dropdown li button:hover{
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
}

/* when signed out */
.login-button button{
  padding-left: 30px;
  letter-spacing: 1px;
  font-size: 17px;
}

.signup-button button{
  padding-left: 30px;
  letter-spacing: 1px;
  font-size: 17px;
}

.login-button button:hover{
  cursor: pointer;
  color: var(--primary-color);
  transition: 0.3s;
}

.signup-button button:hover{
  cursor: pointer;
  color: var(--primary-color);
  transition: 0.3s;
}