.favorites-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.favorite{
  border: 1px solid var(--border-color);
  width: 200px;
  height: 370px;
  border-radius: 15px;
  padding: 26px 26px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 5px rgb(77 71 81 / 30%);  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favorite:hover{
  transform: scale(1.03);
  transition: .3s;
}

.favorite-top{
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-top-image-container{
  height: 100%;
  width: 140px;
  width: 100%;
}

.favorite-image{
  object-fit: contain;
  object-fit: cover;
  width: 140px;
  width: 100%;
  height: 100%;
  height: 165px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.favorite-name{
  font-size: 40px;
  margin-bottom: 36px;
}

.favorite-bottom{
  display: flex;
  justify-content: center;
}

.favorite-bottom button{
  width: 75%;
  height: 40px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 23px;
  font-family: var(--primary-font);  
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1.3px; 
  color: #fff;
}

.favorite-bottom button:hover{
  cursor: pointer;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: #fff;
  transition: .3s;
}